## 5.3 Product Verification















  DIFFERENCES BETWEEN VERIFICATION AND VALIDATION TESTING

Testing is a detailed evaluation method of both verification and validation Verification Testing: Verification testing relates back to the approved requirements set (such as an SRD) and can be performed at different stages in the product life cycle. Verification tests are the official “for the record” testing performed on a system or element to show that it meets its allocated requirements or specifications including physical and functional interfaces. Verification tests use instrumentation and measurements and are generally accomplished by engineers, technicians, or operator-maintainer test personnel in a controlled environment to facilitate failure analysis.

Validation Testing: Validation relates back to the ConOps document. Validation testing is conducted under realistic conditions (or simulated conditions) on any end product to determine the effectiveness and suitability of the product for use in mission operations by typical users and to evaluate the results of such tests. It ensures that the system is operating as expected when placed in a realistic environment.

5.3.1 Process Description

FIGURE 5.3-1

 5.3.1.1 Inputs Key inputs to the process are:

•

The product to be verified:

 •

Verification plan:

 •

Specified requirements baseline:

•

Enabling products:

  

DIFFERENCES BETWEEN VERIFICATION, QUALIFICATION, ACCEPTANCE AND CERTIFICATION

Verification: Verification is a formal process, using the method of test, analysis, inspection or demonstration, to confirm that a system and its associated hardware and software components satisfy all specified requirements. The Verification program is performed once regardless of how many flight units may be generated (as long as the design doesn’t change).

Qualification: Qualification activities are performed to ensure that the flight unit design will meet functional and performance requirements in anticipated environmental conditions. A subset of the verification program is performed at the extremes of the environmental envelope and will ensure the design will operate properly with the expected margins. Qualification is performed once regardless of how many flight units may be generated (as long as the design doesn’t change).

Acceptance: smaller subset of the verification program is selected as criteria for the acceptance program. The selected Acceptance activities are performed on each of the flight units as they are manufactured and readied for flight/use. An Acceptance Data Package is prepared for each of the flight units and shipped with the unit. The acceptance test/analysis criteria are selected to show that the manufacturing/workmanship of the unit conforms to the design that was previously verified/qualified. Acceptance testing is performed for each flight unit produced.

Certification: Certification is the audit process by which the body of evidence that results from the verification activities and other activities are provided to the appropriate certifying authority to indicate the design is certified for flight/use. The Certification activity is performed once regardless of how many flight units may be generated.

5.3.1.2 Process Activities     

Product VerificationResultsProduct VerificationReport From ProductImplementation orProduct Integration ProcessEnd Productto Be VerifiedProduct VerificationPlan Specified RequirementsBaseline Product VerificationEnabling ProductsTo TechnicalAssessment ProcessVerified End Product To ProductValidation ProcessTo Technical DataManagement ProcessFrom ConfigurationManagement ProcessFrom existingresources or ProductTransition Process Product VerificationWork Products Perform the productverificationAnalyze the outcomes ofthe product verificationCapture work products fromproduct verification activitiesPrepare a productverification reportPrepare to conduct productverification FIGURE 5.3-1 Product Verification Process

•

»

The type of flight article involved (e.g., an experiment, payload, or launch vehicle).

»

For missions required to follow NPR 7120.5, NASA Space Flight Program and Project Management Requirements, NASA payload classification (NPR 8705.4, Risk Classification for NASA Payloads) guidelines are intended to serve as a starting point for establishing the formality of verification approaches that can be adapted to the needs of a specific project based on the “A–D” payload classification. Further flexibility is imparted to projects following NPR 7120.8, NASA Research and Technology Program and Project Management Requirements.

»

 

»



 • Availability of verification facilities/sites and transportation assets to move an article from one location to another (when needed). This requires coordination with the Integrated Logistics Support (ILS) engineer.

• Availability of appropriately trained users for interaction with systems having human interfaces.

• Acquisition strategy; i.e., in-house development or system contract. A NASA field Center can often shape a contractor’s verification process through the project’s SOW.

• Degree of design heritage and hardware/software reuse.

5.3.1.2.1  When operator or other user interaction is involved, it is important to ensure that humans are properly represented in the verification activities. This includes physical size, skills, knowledge, training, clothing, special gear, and tools. Note: Testing that includes representatives of the human in the system is often referred to as “human-in-the-loop” testing.
