## Verification

| Sheet Index |  |  |  |  |
| --- | --- | --- | --- | --- |
| COMPETENCY AREA - TECHNICAL: VERIFICATION |  | SELF-ASSESSMENT COMPETENCE LEVEL :  |  | UNASSESSED |
| Description:
Verification is the formal process of obtaining objective evidence that a system or system element, product or service fulfils its specified requirements and characteristics.
Verification includes formal testing of the system against the system requirements; including qualification against the super system environment (e.g. electro-magnetic
compatibility, thermal, vibration, humidity, fungus growth, etc.). Put simply, it answers the question “Did we build the system right?”. |  |  |  |  |
| Why it matters:
System verification should be planned so that system elements are tested in a logical sequence to avoid wasted effort. Systematic and incremental verification makes
it easier to find, isolate, diagnose and correct problems. A system or system element that has not been verified cannot be relied on to meet its requirements. Systems
Verification is an essential pre-requisite to customer acceptance and certification. |  |  |  |  |
| EFFECTIVE INDICATORS OF KNOWLEDGE AND EXPERIENCE |  |  |  |  |
|  AWARENESS |  SUPERVISED PRACTITIONER |  PRACTITIONER |  LEAD PRACTITIONER |  EXPERT |
|  |  |  |  |  |
| Explains what verification is, the purpose of verification and why verification against the system requirements is important. [TVEA01] | Complies with a governing process and appropriate tools to plan and control their own verification activities. [TVES01] | Creates a strategy for system verification on a project to support SE project and wider enterprise needs. [TVEP01] | Creates enterprise-level policies, procedures, guidance and best practice for verification, including associated tools. [TVEL01] | Communicates own knowledge and experience in Systems Engineering verification in order to improve best practice beyond the enterprise boundary. [TVEE01] |
| Explains why there is a need to verify the system in a logical sequence. [TVEA02] | Prepares inputs to verification plans. [TVES02] | Creates a governing process, plan and associated tools for systems verification, which reflect project and business strategy. [TVEP02] | Judges the tailoring of enterprise-level verification processes to meet the needs of a project. [TVEL02] | Advises organizations beyond the enterprise boundary on the suitability of their approach to Systems Engineering verification. [TVEE02] |
| Explains why planning for system verification is necessary. [TVEA03] | Prepares verification plans for smaller projects. [TVES03] | Uses governing plans and processes for System verification, interpreting, evolving or seeking guidance where appropriate. [TVEP03] | Judges the suitability of verification plans, from multiple projects, on behalf of the enterprise. [TVEL03] | Advises organizations beyond the enterprise boundary on their Systems Engineering Verification plans or practices on complex systems or projects. [TVEE03] |
| Explains how traceability can be used to establish whether a system meets requirements. [TVEA04] | Performs verification testing as part of system verification activities. [TVES04] | Prepares verification plans for systems or projects. [TVEP04] | Advises on verification approaches on complex or challenging systems or projects across the enterprise. [TVEL04] | Advises organizations beyond the enterprise boundary on complex or sensitive verification-related issues. [TVEE04] |
| Describes the relationship between verification, validation, qualification, certification and acceptance. [TVEA05] | Identifies simple faults found during verification through diagnosis and consequential corrective actions. [TVES05] | Reviews project-level system verification plans. [TVEP05]
 | Judges detailed verification procedures from multiple projects, on behalf of the enterprise. [TVEL05] | Champions the introduction of novel techniques and ideas in systems verification, beyond the enterprise boundary, in order to develop the wider Systems Engineering community in this competency. [TVEE05] |
|  | Collates evidence in support of verification, qualification, certification and acceptance. [TVES06] | Reviews verification results, diagnosing complex faults found during verification activities. [TVEP06]
 | Judges verification evidence generated from multiple projects on behalf of the enterprise. [TVEL06] | Coaches individuals beyond the enterprise boundary in Systems Verification, in order to further develop their knowledge, abilities, skills or associated behaviors. [TVEE06] |
|  | Reviews verification evidence to establish whether a system meets requirements. [TVES07] | Prepares evidence obtained during verification testing to support system verification or downstream qualification, certification and acceptance activities. [TVEP07] | Guides and actively co-ordinates verification activities for complex systems or projects across the enterprise. [TVEL07] | Maintains expertise in this competency area through specialist Continual Professional Development (CPD) activities. [TVEE07] |
|  | Selects a verification environment to ensure requirements can be fully verified. [TVES08] | Monitors the traceability of verification requirements and tests to system requirements and vice versa. [TVEP08] | Coaches or mentors practitioners across the enterprise in systems verification in order to develop their knowledge, abilities, skills or associated behaviors. [TVEL08] |  |
|  | Develops own understanding of this competency area through Continual Professional Development (CPD). [TVES09] | Identifies a suitable verification environment. [TVEP09]
 | Promotes the introduction and use of novel techniques and ideas in verification across the enterprise, to improve enterprise competence in this area. [TVEL09] |  |
|  |  | Creates detailed verification procedures. [TVEP10]
 | Develops expertise in this competency area through specialist Continual Professional Development (CPD)  activities. [TVEL10] |  |
|  |  | Performs system verification activities. [TVEP11] |  |  |
|  |  | Prepares evidence obtained during verification testing to support downstream verification testing, integration or validation activities. [TVEP12] |  |  |
|  |  | Guides new or supervised practitioners in Systems verification in order to develop their knowledge, abilities, skills or associated behaviors. [TVEP13] |  |  |
|  |  | Maintains and enhances own competence in this area through Continual Professional Development (CPD) activities. [TVEP14] |  |  |
